h3{
    font-size: 30px !important;
}

.btn-success:hover
{
 background-color:rgb(179, 179, 249);
 font-size: 25px;
}

canvas{
    animation-name:example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(112, 235, 168);}
    to {box-shadow: 1px 1px 38px   rgb(108, 245, 106);}
}